{% extends 'extenders/header.html' %}
{% load static %}



{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        <p class="h2">Vew youre <a href="#">cheneal.</a></p>
      </div>
      <div class="col-md-auto">
        <p class="'user h2">Welcome: {{ user.username }}.</p>
      </div>
      <div class="col col-lg-2">
        3 of 3
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-md-auto">
        Variable width content
      </div>
      <div class="col col-lg-2">
        {{ user }}
        {{ object }}
      </div>
    </div>
  </div>

{% endblock %}