
  .content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
  }
  .href:active, /* активная/посещенная ссылка */
  .href{
    color: #27272A;
    text-decoration: none;
  }

  .href:hover{
    text-decoration: none;
    color: #00ffff;
  }
  .wrapper {
    position: relative;

    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
  }

  .vidio_icon:hover{
    color: #00ffff;
    background-color: #707079;
    border: 2px solid #00ffff;
  }

  .vidio_icon{
    display: flex;

    border-radius: 2px;

    justify-content: center;
    position: relative;
    width: 306px;
    height: 185px;

    margin-top: 29px;
    margin-bottom: 0;
    margin-left: 65px;

    background: #595960;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    
  }
  .vidio_prive{
    position: relative;
    top: 1px;
    left: 1px;

    max-width: 302px;
    height: 131px;
  }
  .vidio_name{
    position: relative;

    top: 10px;
    left: 5px;

    width: 295px;
    height: 12px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #27272A;
  }

  .vidio_date{
    position: relative;

    top: 20px;
    left: 5px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
  .for_phone{
    display: none;
  }