{% extends 'extenders/header.html' %}
{% load static %}

{% block content %}

<div class="header">
    <div class="backgorundimg text-center">
        <div class="chenellink">

        </div>

        <div class="nav_bar_wite">
            <p class="text-lg-start h3">Subs: 0000000</p>
            <p class="text-lg-center h3">Chenel Name</p>
            <p class="text-lg-end h3">Date Joinded: 19/2021/2543</p>
        </div>
    </div>
    <div class="content">
        <p class="text-center text_vidi">Videos</p>
    </div>
</div>

{% endblock %}